@import url("./reset.css");
@import url("./common.css");

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.875rem;
  padding: 0 1.25rem;
  background-color: #000;
  font-size: 0.75rem;
  text-transform: uppercase;
  z-index: 99;
}
header::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.2;
}
header .header-sub-title {
  flex: 1;
  text-align-last: left;
}
header .header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 1;
  text-align: center;
}
@media (max-width: 699px) {
  header .header-title {
    top: auto;
    left: auto;
    transform: translate(0, 0);
  }
}
header .header-title a:hover,
header .header-sub-title a:hover {
  border-bottom: 1px solid #fff;
}
header .get-the-font {
  text-align: right;
  padding: 0.75rem 1.25rem;
  color: var(--color-bg);
  background-color: var(--color-text);
}
header .get-the-font .wave-wrapper {
  display: flex;
  overflow: hidden;
}
header .get-the-font:hover [class*="char"] {
  animation: waveAnimation 1s ease-out;
}
header .get-the-font:hover .char1 {
  animation-delay: 0s;
}
header .get-the-font:hover .char2 {
  animation-delay: 0.02s;
}
header .get-the-font:hover .char3 {
  animation-delay: 0.04s;
}
header .get-the-font:hover .char4 {
  animation-delay: 0.06s;
}
header .get-the-font:hover .char5 {
  animation-delay: 0.08s;
}
header .get-the-font:hover .char6 {
  animation-delay: 0.1s;
}
header .get-the-font:hover .char7 {
  animation-delay: 0.12s;
}
header .get-the-font:hover .char8 {
  animation-delay: 0.14s;
}
header .get-the-font:hover .char9 {
  animation-delay: 0.16s;
}
header .get-the-font:hover .char10 {
  animation-delay: 0.18s;
}
@keyframes waveAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(-100%);
  }
}
.side-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  background: #000;
  z-index: 100;
}
.side-bar::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #fff;
  opacity: 0.2;
}
.toggle-btn {
  position: absolute;
  top: calc(50% - var(--sidebar-width));
  width: var(--sidebar-width);
  height: var(--sidebar-width);
}
@media (max-width: 699px) {
  .toggle-btn {
    top: 0;
    right: 0;
  }
}
.toggle-btn::before,
.toggle-btn::after {
  display: block;
  content: "";
  position: absolute;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.toggle-btn:hover::before {
  transform: translateY(-75%);
}
.toggle-btn:hover::after {
  transform: translateY(75%);
}
.toggle-btn.open::before {
  transform: translate(-9%, 200%) rotate(45deg);
}
.toggle-btn.open::after {
  transform: translate(-9%, -200%) rotate(-45deg);
}
.toggle-btn.open:hover::before {
  transform: translate(-9%, 200%) rotate(45deg) scale(0.75);
}
.toggle-btn.open:hover::after {
  transform: translate(-9%, -200%) rotate(-45deg) scale(0.75);
}
.toggle-btn::before {
  top: calc(50% - 5px);
}
.toggle-btn::after {
  bottom: calc(50% - 5px);
}
.side-bar .label {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 12vh;
  right: 0;
  width: var(--sidebar-width);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  width: calc(35.5vw + var(--sidebar-width));
  height: auto;
  padding: var(--padding);
  font-variation-settings: "wght" 300;
  background-color: #000;
  transform: translateX(-100%);
  z-index: 99;
  transition: 0.5s linear;
}
@media (max-width: 699px) {
  .side-menu {
    width: 100%;
  }
}
.side-menu.open {
  transform: translateX(0);
}
.side-menu .animation-wrapper {
  overflow: hidden;
}
.side-menu .title {
  padding-top: 0.75em;
  padding-bottom: 2em;
  font-size: 1.75rem;
}
.side-menu .top-area {
  font-size: 1.75rem;
  margin-bottom: auto;
}
.side-menu .top-area nav {
  margin-bottom: 1.5em;
}
.side-menu .top-area nav ul {
  display: flex;
  flex-direction: column;
}
.side-menu nav ul li {
  overflow: hidden;
  line-height: 1.2;
}
.side-menu nav ul li a {
  display: block;
}
.side-menu nav ul li a::before {
  display: inline-block;
  content: "①";
  width: 2em;
}
.side-menu nav ul li:nth-child(2) a::before {
  content: "②";
}
.side-menu nav ul li:nth-child(3) a::before {
  content: "③";
}
.side-menu nav ul li:nth-child(4) a::before {
  content: "④";
}
.side-menu nav ul li:nth-child(5) a::before {
  content: "⑤";
}
.side-menu nav ul li:last-child a::before {
  content: "⑥";
}
.side-menu .top-area .font-link {
  overflow: hidden;
}
.side-menu .top-area .font-link a {
  display: block;
}
.side-menu .bottom-area {
  display: flex;
  flex-direction: column;
}
.side-menu .bottom-area .related-site {
  display: flex;
  flex-direction: column;
}
.side-menu .bottom-area .related-site a:before {
  display: inline-block;
  content: "→";
  width: 2em;
}
.side-menu .bottom-area .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 19em;
  margin-top: 5vh;
}
.side-menu a span {
  display: inline-block;
  border-bottom: 1px solid transparent;
}
.side-menu a:hover span {
  border-color: #fff;
}

footer {
  width: var(--container-width);
  padding: var(--container-padding);
  margin-left: auto;
  overflow: hidden;
}
@media (max-width: 699px) {
  footer {
    width: 100%;
  }
}
footer .omega {
  display: block;
  width: 200%;
  height: 1.6em;
  left: -50%;
  font-size: 66vw;
  font-variation-settings: "wght" 100;
  line-height: 0.8;
  text-align: center;
  transform-origin: 50% 0;
  transform: scale(2);
}
footer small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.cursor {
  cursor: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: calc(2.5rem * -0.5);
  margin-left: calc(2.5rem * -0.5);
  color: #fff;
  z-index: 9999;
  pointer-events: none;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  mix-blend-mode: difference; /* 색상 대비 */
  will-change: transform;
}
.cursor span {
  display: flex;
  align-items: bottom;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 0.2em;
  line-height: 1;
  font-size: 2.875rem;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: 100% 100%;
  will-change: transform;
}
