.container {
}

.sc-main {
  width: 100%;
  height: 100vh;
}
.sc-main .scatter-letters {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 200%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sc-main .scatter-letters .scatter-inner {
  width: 60vw;
  height: 50vh;
  opacity: 0;
  transform: scale(1.1);
  transform-origin: 50% 50%;
  animation: opacityAnimation 2s 3.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards,
    scaleAnimation 0.5s 5s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
  will-change: scale;
}
.sc-main .scatter-letters .scatter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 0) rotate(0);
  will-change: transform;
}
.sc-main .scatter-letters .scatter-item img {
  height: 100%;
}
.sc-main .scatter-letters .scatter-item.move {
  animation: moveAnimation cubic-bezier(0.165, 0.84, 0.44, 1) forwards,
    floatAnimation cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
.sc-main .scatter-letters .f1.move {
  --move-transform: translateX(-50vw) translateY(-40vh) rotate(10deg);
  animation-duration: 3s, 4.68s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f2.move {
  --move-transform: translateX(-50vw) translateY(-20vh) rotate(45deg);
  animation-duration: 3s, 5.34s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f3.move {
  --move-transform: translateX(-20vw) translateY(-50vh) rotate(-45deg);
  animation-duration: 3s, 5.82s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f4.move {
  --move-transform: translateX(20vw) translateY(20vh) rotate(-15deg);
  animation-duration: 3s, 5.38s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f5.move {
  --move-transform: translateX(10vw) translateY(10vh) rotate(45deg);
  animation-duration: 3s, 5.5s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f6.move {
  --move-transform: translateX(30vw) translateY(-40vh) rotate(-25deg);
  animation-duration: 3s, 5.66s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f7.move {
  --move-transform: translateX(-20vw) translateY(-50vh) rotate(-30deg);
  animation-duration: 3s, 5.2s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f8.move {
  --move-transform: translateX(40vw) translateY(-10vh) rotate(-35deg);
  animation-duration: 3s, 4.88s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f9.move {
  --move-transform: translateX(50vw) translateY(-90vh) rotate(45deg);
  animation-duration: 3s, 5.02s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f10.move {
  --move-transform: translateX(60vw) translateY(-20vh) rotate(-30deg);
  animation-duration: 3s, 4.36s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f11.move {
  --move-transform: translateX(-30vw) translateY(-20vh) rotate(25deg);
  animation-duration: 3s, 4.02s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f12.move {
  --move-transform: translateX(-20vw) translateY(50vh) rotate(15deg);
  animation-duration: 3s, 4.52s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f13.move {
  --move-transform: translateX(-15vw) translateY(30vh) rotate(-30deg);
  animation-duration: 3s, 4.86s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f14.move {
  --move-transform: translateX(-5vw) translateY(50vh) rotate(-10deg);
  animation-duration: 3s, 5.12s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f15.move {
  --move-transform: translateX(-40vw) translateY(20vh) rotate(-20deg);
  animation-duration: 3s, 5.62s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f16.move {
  --move-transform: translateX(-10vw) translateY(20vh) rotate(10deg);
  animation-duration: 3s, 4.14s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f17.move {
  --move-transform: translateX(15vw) translateY(-20vh) rotate(-10deg);
  animation-duration: 3s, 4.96s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f18.move {
  --move-transform: translateX(20vw) translateY(50vh) rotate(-30deg);
  animation-duration: 3s, 4.14s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f19.move {
  --move-transform: translateX(5vw) translateY(70vh) rotate(-10deg);
  animation-duration: 3s, 5.3s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f20.move {
  --move-transform: translateX(-5vw) translateY(40vh) rotate(25deg);
  animation-duration: 3s, 5.72s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f21.move {
  --move-transform: translateX(40vw) translateY(-15vh) rotate(15deg);
  animation-duration: 3s, 4.02s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f22.move {
  --move-transform: translateX(20vw) translateY(30vh) rotate(-10deg);
  animation-duration: 3s, 5.88s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f23.move {
  --move-transform: translateX(7vw) translateY(20vh) rotate(-5deg);
  animation-duration: 3s, 4.44s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f24.move {
  --move-transform: translateX(40vw) translateY(10vh) rotate(-10deg);
  animation-duration: 3s, 5.42s;
  animation-delay: 0s, 3s;
}
.sc-main .scatter-letters .f25.move {
  --move-transform: translateX(-10vw) translateY(50vh) rotate(10deg);
  animation-duration: 3s, 4.16s;
  animation-delay: 0s, 3s;
}
@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleAnimation {
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes moveAnimation {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: var(--move-transform);
  }
}
@keyframes floatAnimation {
  0% {
    transform: var(--move-transform);
  }
  50% {
    transform: var(--move-transform) translateY(10%);
  }
  100% {
    transform: var(--move-transform);
  }
}

.sc-main .main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--container-width);
  height: 100vh;
  padding: var(--container-padding);
  margin-left: auto;
  opacity: 0;
  animation: mainAnimation 2s 6.5s ease forwards;
}
@keyframes mainAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sc-main .top-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-main .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  font-variation-settings: "wght" 300;
  letter-spacing: -0.04em;
  line-height: 0.95;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}
.sc-main .main-title::before,
.sc-main .main-title::after {
  position: absolute;
  top: 4vw;
  font-size: 1.5rem;
  letter-spacing: 0;
}
.sc-main .main-title::before {
  content: "②⓪";
  left: 15%;
}
.sc-main .main-title::after {
  content: "②②";
  right: 15%;
}
.sc-main .main-title .first-line {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.sc-main .main-title .main-letter {
}
.sc-main .main-title .rolling-letters span {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  opacity: 0;
}
.sc-main .main-title .second-line {
  display: flex;
}
.sc-main .main-title-sub {
  display: flex;
  position: absolute;
  top: 21vh;
  left: -26.5vw;
  font-size: 0.875rem;
  font-variation-settings: "wght" 400;
  text-transform: uppercase;
  gap: 14.5vw;
}
.sc-main .bottom-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  margin-bottom: 1.25rem;
}
.sc-main .bottom-area span {
  display: block;
}
.sc-main .bottom-area .link:hover {
  text-decoration: underline;
}

.sc-intro {
  width: var(--container-width);
  padding: var(--container-padding);
  padding-top: 25vh;
  margin-left: auto;
}
.sc-intro .top-section {
  display: flex;
  flex-direction: column;
}
.sc-intro .top-section p {
  font-size: clamp(22px, 60/1800 * 100vw, 60px);
  font-variation-settings: "wght" 200;
  line-height: 1.1;
}
.sc-intro .top-section p .line {
  display: block;
}
.sc-intro .top-section p:last-child {
  margin-left: 50%;
}
.sc-intro .bottom-section {
  display: flex;
}
.sc-intro .left-area {
  width: 37.5vw;
}
.sc-intro .left-area img {
  width: 90%;
  margin-bottom: 1.25rem;
}
.sc-intro .left-area .table {
  width: 90%;
  text-align: left;
}
.sc-intro .left-area .table tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.25rem;
  /* border-top: 1px solid #fff; */
  padding: 0.2em 0.5em 0.2em 0;
}
.sc-intro .border-animation {
  position: absolute;
  top: -0.25em;
  left: 0;
  width: 212%;
  height: 1px;
  background-color: #fff;
}
.sc-intro .right-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-gap: 1rem 7rem;
  width: 50vw;
  padding: 17vw 1vw 0 9vw;
}
.sc-intro .right-area a {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  width: 17rem;
  height: 2.5rem;
  padding: 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #fff;
  overflow: hidden;
  z-index: 1;
}
.sc-intro .right-area a:hover [class*="char"] {
  display: inline-block;
  animation: waveAnimation 0.7s ease-in-out;
}
.sc-intro .right-area a:hover .char1 {
  animation-delay: 0s;
}
.sc-intro .right-area a:hover .char2 {
  animation-delay: 0.01s;
}
.sc-intro .right-area a:hover .char3 {
  animation-delay: 0.02s;
}
.sc-intro .right-area a:hover .char4 {
  animation-delay: 0.03s;
}
.sc-intro .right-area a:hover .char5 {
  animation-delay: 0.04s;
}
.sc-intro .right-area a:hover .char6 {
  animation-delay: 0.05s;
}
.sc-intro .right-area a:hover .char7 {
  animation-delay: 0.06s;
}
.sc-intro .right-area a:hover .char8 {
  animation-delay: 0.07s;
}
.sc-intro .right-area a:hover .char9 {
  animation-delay: 0.08s;
}
.sc-intro .right-area a:hover .char10 {
  animation-delay: 0.09s;
}
.sc-intro .right-area a:hover .char11 {
  animation-delay: 0.1s;
}
.sc-intro .right-area a:hover .char12 {
  animation-delay: 0.11s;
}
.sc-intro .right-area a:hover .char13 {
  animation-delay: 0.12s;
}
.sc-intro .right-area a:hover .char14 {
  animation-delay: 0.13s;
}
.sc-intro .right-area a:hover .char15 {
  animation-delay: 0.14s;
}
.sc-intro .right-area a:hover .char16 {
  animation-delay: 0.15s;
}
.sc-intro .right-area a:hover .char17 {
  animation-delay: 0.16s;
}
.sc-intro .right-area a:hover .char18 {
  animation-delay: 0.17s;
}
.sc-intro .right-area a:hover .char19 {
  animation-delay: 0.18s;
}
.sc-intro .right-area a:hover .char20 {
  animation-delay: 0.19s;
}
.sc-intro .right-area a:hover .char21 {
  animation-delay: 0.2s;
}
.sc-intro .right-area a:hover .char22 {
  animation-delay: 0.21s;
}
.sc-intro .right-area a:hover .char23 {
  animation-delay: 0.22s;
}
.sc-intro .right-area a:hover .char24 {
  animation-delay: 0.23s;
}
.sc-intro .right-area a:hover .char25 {
  animation-delay: 0.24s;
}
.sc-intro .right-area a:hover .char26 {
  animation-delay: 0.25s;
}
.sc-intro .right-area a:hover .char27 {
  animation-delay: 0.26s;
}
.sc-intro .right-area a:hover .char28 {
  animation-delay: 0.27s;
}
@keyframes waveAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(-100%);
  }
}

.sc-style {
  width: var(--container-width);
  height: 400vh;
  margin-top: 10vh;
  margin-bottom: -100vh;
  padding: var(--container-padding);
  margin-left: auto;
  font-size: 12vw;
  font-variation-settings: "wght" 200;
  text-transform: uppercase;
}
.sc-style .style-inner {
  position: sticky;
  width: 100%;
  height: var(--container-height);
  top: calc(var(--header-height) + var(--padding));
}
.sc-style .gather-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sc-style .gather-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.sc-style .gather-item img {
  object-fit: contain;
  object-position: 50% 50%;
  height: 100%;
}
.sc-style .style-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1;
}
.sc-style .style-title .line {
  display: flex;
}
.sc-style .style-title .line:nth-child(2) {
  justify-content: flex-end;
}
.sc-style .style-title .line:last-child {
  justify-content: center;
}
.sc-style .style-title .main-letter {
}
.sc-style .style-title .rolling-letters {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 100%;
  opacity: 0;
}

.sc-possible {
  height: 200vh;
  padding: var(--container-padding);
  /* margin-left: auto; */
  /* margin-bottom: 10vh; */
  font-size: clamp(36px, 92/1800 * 100vw, 92px);
  border-radius: 16px;
  margin: 0 0 10vh var(--sidebar-width);
}
.sc-possible .possible-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: calc(var(--header-height) + var(--padding));
  width: 100%;
  height: var(--container-height);
  padding-top: 0.25rem;
  padding-bottom: 1.25rem;
  border-radius: 16px;
  color: #000;
  background-color: #fff;
  overflow: hidden;
}
.sc-possible .infinite-banner {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0;
}
.sc-possible .infinite-banner .banner-wrapper {
  white-space: nowrap;
  animation: bannerAnimation 7s linear infinite;
}
.sc-possible .infinite-banner span::before {
  display: inline-block;
  width: 4em;
  height: 4em;
  text-align: center;
}
.sc-possible .infinite-banner .banner-text1::before {
  content: "✳";
}
.sc-possible .infinite-banner .banner-text2::before {
  content: "●";
}
@keyframes bannerAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.sc-possible .random-btn {
  display: flex;
  justify-content: center;
  width: 45vw;
  border: 1px solid #000;
  padding: 0.75rem 1.25rem;
  margin: auto;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}
/* 공통 */
.random-btn:hover [class*="char"] {
  display: inline-block;
  animation: waveAnimation 0.7s ease-in-out;
}
.random-btn:hover .char1 {
  animation-delay: 0s;
}
.random-btn:hover .char2 {
  animation-delay: 0.02s;
}
.random-btn:hover .char3 {
  animation-delay: 0.04s;
}
.random-btn:hover .char4 {
  animation-delay: 0.06s;
}
.random-btn:hover .char5 {
  animation-delay: 0.08s;
}
.random-btn:hover .char6 {
  animation-delay: 0.1s;
}
.random-btn:hover .char7 {
  animation-delay: 0.12s;
}
.random-btn:hover .char8 {
  animation-delay: 0.14s;
}
.random-btn:hover .char9 {
  animation-delay: 0.16s;
}
.sc-possible .possible-content {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  font-size: clamp(36px, 92/1800 * 100vw, 92px);
  margin-top: 1.25rem;
  padding: 0 1.25rem;
  line-height: 1;
}
.sc-possible .possible-content .possible-item {
  width: 100%;
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
}
.sc-possible .possible-content .p4-p5 {
  display: flex;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.sc-possible .possible-item .possible-text {
  letter-spacing: -0.05em;
  text-transform: uppercase;
  padding-right: 0.05em;
}
.sc-possible .possible-item .label {
  display: flex;
  position: absolute;
  bottom: 100%;
  left: 0;
  line-height: 1.5;
  font-variation-settings: "wght" 400;
  font-size: 0.75rem;
  white-space: nowrap;
  pointer-events: none;
}
.sc-possible .possible-item .label span {
  display: block;
  padding: 0.5rem 0.75rem;
  background: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  opacity: 0;
  transform: translateY(50%);
}
.sc-possible .possible-item .tag {
  transition: all 0.3s ease-in-out;
}
.sc-possible .possible-item .font {
  transition: all 0.3s 0.1s ease-in-out;
}
.sc-possible .possible-item:hover .label span {
  opacity: 1;
  transform: translateY(0);
}

.sc-glyph {
  display: flex;
  flex-direction: column;
  width: var(--container-width);
  height: auto;
  padding: var(--container-padding);
  margin-left: auto;
}
.sc-glyph .dropdown {
  position: sticky;
  top: calc(var(--header-height) + 1px);
  width: 100%;
  /* padding-right: 50vw; */
  padding-right: 50%;
  margin-left: auto;
  background-color: #000;
  z-index: 1;
  border-bottom: 1px solid #fff;
}
.sc-glyph .dropdown-btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1.25rem;
  text-align: left;
  color: #fff;
  border: 1px solid #fff;
}
.sc-glyph .dropdown-btn.open {
  background: #fff;
  color: #000;
}
.sc-glyph .dropdown-btn::after {
  content: "↓";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 1.25rem;
  height: 2.75rem;
  font-family: var(--font-family-sans);
  font-variation-settings: "wght" 600;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.sc-glyph .dropdown-btn.open::after {
  transform: rotate(180deg);
}
.sc-glyph .dropdown-list {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  /* width: calc(100% - 50vw); */
  width: 50%;
  max-height: 20.625rem;
  text-align: left;
  background-color: #000;
  overflow-y: auto;
}
.sc-glyph .dropdown-list.open {
  display: flex;
}
.sc-glyph .dropdown-list button {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -1px;
  padding: 0.75rem 1.25rem;
  text-align: left;
  color: #fff;
  border: 1px solid #fff;
}
.sc-glyph .dropdown-list button.active,
.sc-glyph .dropdown-list button:hover {
  background: #fff;
  color: #000;
}
.sc-glyph .content-wrapper {
  display: flex;
  border-bottom: 1px solid #fff;
}
.sc-glyph .glyph-content {
  width: 50%;
  border-right: 1px solid #fff;
}
.sc-glyph .glyph-content .glyph-title {
  padding: 2em 0;
  font-size: clamp(22px, 60/1800 * 100vw, 60px);
  font-variation-settings: "wght" 200;
  line-height: 1;
}
.sc-glyph .glyph-content .glyph-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  padding: var(--padding);
  padding-right: calc(var(--padding) * 0.5);
  font-family: var(--font-family-sans);
  font-variation-settings: "wght" 400;
  font-size: 1.5rem;
}
.sc-glyph .glyph-list .glyph-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.sc-glyph .glyph-list .glyph-item:hover {
  background: #fff;
  color: #000;
}
.sc-glyph .glyph-perview {
  width: 50%;
  font-size: 30vw;
  font-family: var(--font-family-sans);
  font-variation-settings: "wght" 400;
}
.sc-glyph .glyph-perview span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 2.75rem;
  overflow: hidden;
}

.sc-font {
  display: flex;
  flex-direction: column;
  width: var(--container-width);
  /* height: auto; */
  padding: 20vh var(--padding);
  margin-left: auto;
}
.sc-font .control-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sc-font .control-area .font-style {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.sc-font .label {
  display: flex;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  opacity: 0.6;
}
.sc-font .font-style .font-list {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.sc-font .font-list li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  border: 1px solid #fff;
  opacity: 0.6;
}
.sc-font .font-list li.active {
  opacity: 1;
}
.sc-font .font-list li button {
  width: 100%;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
}
.sc-font .control-area .font-setting {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.sc-font .control-area .font-setting > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 1;
}
.sc-font .font-setting .value {
  text-align: right;
  font-size: 0.875rem;
}
.sc-font .font-setting .input-range {
  grid-column: span 2;
  margin-top: 1.7rem;
}
.sc-font .font-setting .input-range::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  /* margin-bottom: 0.75rem; */
  z-index: -1;
}
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #fff;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #fff;
}
input[type="range"]::-webkit-slider-thumb:hover {
  width: 30px;
  height: 30px;
  margin: -15px -5px -5px -5px;
  transform: translate(5px, 5px);
}
input[type="range"]::-moz-range-thumb:hover {
  width: 30px;
  height: 30px;
  margin: -15px -5px -5px -5px;
  transform: translate(5px, 5px);
}
.sc-font .main-area {
}
.sc-font .main-area textarea {
  width: 100%;
  min-height: 960px;
  margin-top: 10vh;
  padding-top: 3.75rem;
  font-family: var(--font-family-sans);
  font-size: 240px;
  font-variation-settings: "wght" 400;
  letter-spacing: 0;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  background-color: transparent;
  overflow: hidden;
}

.sc-poster {
  width: var(--container-width);
  height: 200vh;
  padding: var(--container-padding);
  margin-left: auto;
  margin-top: 20vh;
}
.sc-poster .poster-inner {
  position: sticky;
  top: calc(var(--header-height) + var(--padding));
  width: 100%;
  height: 100vh;
}
/* bg-swiper */
.sc-poster .bg-swiper-container {
  width: 100%;
  height: var(--container-height);
  overflow: hidden;
  z-index: 1;
}
.sc-poster .bg-swiper-wrapper {
  width: 100%;
  height: 100%;
}
.sc-poster .bg-swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  border-radius: 48px;
}
.sc-poster .bg-swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  object-fit: cover;
  object-position: 50% 50%;
}
/* poster-swiper */
.sc-poster .poster-swiper-container {
  position: absolute;
  top: calc(50% - (60vh * 0.5) - var(--header-height));
  left: 50%;
  transform: translateX(-50%);
  width: 19.2vw;
  height: 60vh;
  overflow: hidden;
  z-index: 2;
}
.sc-poster .poster-swiper-wrapper {
  width: 100%;
  height: 100%;
}
.sc-poster .poster-swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.sc-poster .poster-swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.sc-poster .random-btn {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18vh;
  padding: 0.75rem 1.25rem;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
  z-index: 1;
}

.sc-language {
  width: var(--container-width);
  padding: var(--container-padding);
  margin-left: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sc-language .gather-letters {
}
.sc-language .gather-letters > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.sc-language .language-list {
  display: flex;
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 20vh;
  padding-top: 15vh;
}
.sc-language [class*="language-col"] {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sc-language .language-list li {
  text-align: center;
  padding-bottom: 0.4em;
  opacity: 0;
}
.sc-language .content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20vh 0;
  font-size: clamp(38px, 92/1800 * 100vw, 92px);
  text-align: center;
}
.sc-language .content-section p {
  font-variation-settings: "wght" 100;
  line-height: 1;
  text-transform: uppercase;
}

.sc-purchase {
  width: var(--container-width);
  height: 650vh;
  padding: var(--padding);
  margin-top: -25vh;
  margin-left: auto;
  margin-bottom: -25vh;
}
.sc-purchase .purchase-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: calc(var(--header-height) + var(--padding));
  width: 100%;
  height: var(--container-height);
}
.sc-purchase .gather-capital-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sc-purchase .gather-capital-a > div {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.sc-purchase .purchase-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  width: calc(75vw - var(--sidebar-width) - (var(--padding) * 2));
  gap: var(--padding);
}
.sc-purchase .purchase-content .purchase-item {
  display: flex;
}
.sc-purchase .purchase-content .item1 {
  grid-row: 1/3;
}
.sc-purchase .purchase-content .item2 {
  grid-row: 2/4;
}
.sc-purchase .purchase-content .item3 {
  grid-column-start: 3;
  grid-row: 3/5;
}
.sc-purchase .purchase-item::after {
  display: block;
  position: absolute;
  left: 1rem;
  bottom: 0.5rem;
  content: "→";
  color: #000;
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.sc-purchase .purchase-link {
  width: 100%;
  height: 30vh;
  padding: 1rem;
  font-size: 0.875rem;
  font-variation-settings: "wght" 500;
  color: #000;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.sc-purchase .purchase-item .label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sc-purchase .purchase-item .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 1.1;
  font-size: 2.125rem;
  font-variation-settings: "wght" 300;
}
.sc-purchase .purchase-item .line {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.sc-purchase .purchase-item:hover [class*="char"] {
  display: inline-block;
  clip-path: polygon(0 0, 100% 0, 100% 115%, 0 115%);
  animation: waveAnimation 0.7s ease-in-out;
}
.sc-purchase .purchase-item:hover .char1 {
  animation-delay: 0s;
}
.sc-purchase .purchase-item:hover .char2 {
  animation-delay: 0.02s;
}
.sc-purchase .purchase-item:hover .char3 {
  animation-delay: 0.04s;
}
.sc-purchase .purchase-item:hover .char4 {
  animation-delay: 0.06s;
}
.sc-purchase .purchase-item:hover .char5 {
  animation-delay: 0.08s;
}
.sc-purchase .purchase-item:hover .char6 {
  animation-delay: 0.1s;
}
.sc-purchase .purchase-item:hover .char7 {
  animation-delay: 0.12s;
}
.sc-purchase .purchase-item:hover .char8 {
  animation-delay: 0.14s;
}
.sc-purchase .purchase-item:hover .char9 {
  animation-delay: 0.16s;
}
.sc-purchase .purchase-item:hover .char10 {
  animation-delay: 0.18s;
}

.sc-credits {
  width: var(--container-width);
  padding: 5vh var(--padding) 15vh var(--padding);
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.sc-credits .title {
  font-size: clamp(18px, 42/1800 * 100vw, 42px);
  font-variation-settings: "wght" 200;
  margin-bottom: 10vh;
}
.sc-credits .content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: var(--padding);
  width: 100%;
}
.sc-credits .typeface-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--padding);
  grid-column: span 3;
}
.sc-credits h3.typeface {
  grid-column: 1/4;
  padding-bottom: 1em;
  margin-bottom: 1em;
  /* border-bottom: 1px solid #fff; */
}
.sc-credits .border-animation {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.sc-credits p {
  line-height: 1;
  margin-right: 15%;
}
.sc-credits .typeface-section .p-col1 {
  grid-column: 1/2;
}
.sc-credits .typeface-section .p-col2 {
  grid-column: 2/3;
}
.sc-credits .typeface-section .p-col3 {
  grid-column: 3/4;
}
.sc-credits .visuals-section {
}
.sc-credits h3.visuals {
  grid-column: 1/2;
  padding-bottom: 1em;
  margin-bottom: 1em;
  /* border-bottom: 1px solid #fff; */
}
.sc-credits .visuals-section .p-col4 {
  grid-column: 1/2;
}
